  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="../../../assets/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 class="text-success">
                We Are DineCloud
              </h2>
            </div>
            <p>
              At DineCloud, we believe dining is an experience, not just a meal. Our restaurant offers a warm and welcoming atmosphere where every detail is crafted with care. We pride ourselves on using only the freshest local ingredients to create flavorful, innovative dishes that delight the senses. Our skilled chefs are dedicated to transforming seasonal produce into culinary masterpieces, while our attentive staff ensures you feel right at home. Whether you're here for a special occasion or a casual night out, [Restaurant Name] promises exceptional food and a memorable experience.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->