<div class="modal modal-right fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-30 pb-30 bg-white slim-scroll4">
        <ng-container *ngIf="cartItems && cartItems.length > 0; else emptyCart">
          <div *ngFor="let item of cartItems; let i = index">
            <div class="d-flex align-items-center justify-content-between py-15">
              <div class="d-flex flex-column me-2">
                <a href="#" class="fw-600 fs-18 text-hover-primary">{{ item.name }}</a>
                <span class="text-muted">{{ item.description }}</span>
                <div class="d-flex align-items-center mt-2">
                  <span class="fw-600 me-5 fs-18">₹ {{ item.price }} </span> 
                </div>
              </div>
              <a href="#" class="flex-shrink-0">
                <img [src]="item.imageUrl" class="avatar h-100 w-100" alt="{{ item.name }}" style="max-width: 100px;" />
              </a>
            </div>
            <div class="dropdown-divider"></div>
          </div>
        </ng-container>
        <ng-template #emptyCart>
          <div class="text-center">Your cart is empty</div>
        </ng-template>
      </div>
      <!-- Inside your cart-modal.component.html -->

      <div class="modal-footer modal-footer-uniform"> 
        <div class="text-end">
          <button *ngIf="!isCartEmpty()" type="button" class="btn btn-primary mr-2" (click)="continueToCheckout()">Continue</button>
          <button *ngIf="!isCartEmpty()" type="button" class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
        </div>
      </div>
      

    </div>
  </div>
</div>
